@using Application.ViewModels
@model GeneroViewModel

@{
    ViewData["Title"] = "Editar Genero";
}


<h1>Editar Genero</h1>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Genero" asp-action="Index" class="btn btn-warning">Volver atras</a>
</form>
 